body {
    text-align: center;
    background-image: url("./imgs/rick-and-morty-bg.jpg");
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.popup {
    background-color: #132d43;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup h2 {
    margin-top: 0;
}

.popup p {
    margin-bottom: 20px;
    font-size: 25px;
}

.popup button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #218838;
}

#board {
    width: 540px;
    height: 540px;
    background-color: #132d43;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    border: 3px solid #97B8C5;
    border-radius: 25px;
}

#board div {
    width: 180px;
    height: 180px;
    background-image: url("./imgs/portal.png");
    background-size: cover;
}

#board div img {
    width: 120px;
    height: 120px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
